<%= form_with model: @object, data: { remote: true, type: :json }, html: { 'data-ajax-submit' => '' } do |f| %>
  <div class="form-group row">
    <%= f.label :slug, t(:slug, scope: :areas), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_field :slug, class: "form-control" %>
      <%= danger_help_block(:slug) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :h1_ru, t(:h1_ru, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_field :h1_ru, class: "form-control" %>
      <%= danger_help_block(:h1_ru) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :h1_en, t(:h1_en, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_field :h1_en, class: "form-control" %>
      <%= danger_help_block(:h1_en) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :title_ru, t(:page_title_ru, scope: :seo), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_field :title_ru, class: "form-control" %>
      <%= danger_help_block(:title_ru) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :title_en, t(:page_title_en, scope: :seo), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_field :title_en, class: "form-control" %>
      <%= danger_help_block(:title_en) %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :meta_description_ru, t(:meta_description_ru, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_area :meta_description_ru, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :meta_description_en, t(:meta_description_en, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_area :meta_description_en, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description_ru, t(:description_ru, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_area :description_ru, class: "form-control classic_ckeditor" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description_en, t(:description_en, scope: :common), class: 'col-lg-2 control-label' %>
    <div class="col-lg-6">
      <%= f.text_area :description_en, class: "form-control classic_ckeditor" %>
    </div>
  </div>

  <%= render_control_buttons(form: f,
                             obj: @object,
                             hide_show_btn: true,
                             confirm_message: t(:delete_confirm, scope: :page)) %>
<% end %>
