<% title @page_title %>
<h2><%= bids_h1(@country, @property_supertype) %>
  <%#= link_to t(:new, scope: :bids), new_bid_path, class: 'btn btn-primary' %>
</h2>

<% if allowed_to? :search?, :bid %>
  <%= render partial: 'admin/bids/index/search' %>
<% end %>

<br>
<%= render_bids_filter(search_url: "/bids") %>
<br>

<%= render_pagination @pagination %>

<table class="table table-striped table-hover table-with-items">
  <tr>
    <th>№</th>
    <th style="width: 130px;"><%= t('properties.create_at') %></th>
    <th><%= t('common.client') %></th>
    <th style="width: 10%"><%= t('contact_ways.preferred_ways') %></th>
    <th style="min-width: 300px;"><%= t('properties.message') %></th>
    <th style="width: 250px;"><%= t('common.property') %></th>
    <th><%= t('bids.cost') %></th>
    <% if allowed_to? :search? %>
      <th><%= t('properties.agency') %></th>
      <th><%= t('bids.contacts_sent') %></th>
    <% end %>
<!--    <th><%#= t('common.comments') %></th>-->
    <th style="width: 10%"><!-- Зона кнопочек --></th>
  </tr>

  <% @pagination.items.each do |bid_with_comments| %>
      <% bid = bid_with_comments[:bid] %>
      <% comments = bid_with_comments[:comments] %>
      <% agency = bid.property.agency %>
      <tr>
        <td>
          <%= bid.id %><br>
          <%= bid_source(bid) %><br>
          <% if allowed_to? :search? %>
            <%= bitrix_sync_state(bid) %>
          <% end %>
        </td>
        <td><%= bid.created_at.in_time_zone(current_user.timezone).strftime('%Y-%m-%d %H:%M:%S') %></td>
        <td>
          <%= bid.name %><br>
          <%= bid.email %><br>
          <%= bid.phone %>
        </td>
        <td>
          <%= render partial: 'admin/contact_ways/chosen_contact_ways',
                     locals: { contact_ways: bid.contact_ways }
          %>
        </td>
        <td class="word-break-bw"><%= bid.message %></td>
        <td>
          <%= link_to bid.property.present.page_h1,
                      bid.property,
                      target: '_blank',
                      style: 'font-size: 9pt;'
          %>
        </td>
        <td><%= bid_sale_price(bid) %></td>
        <% if allowed_to? :search? %>
          <td>
            <%= Utils::Html::bool_glyphicon(agency.has_contract) if agency.has_contract %>
            <%= link_to agency.name, agency.seo_path, target: '_blank' %>
          </td>
          <td>
            <%= check_box_tag("contacts_sent_#{bid.id}", "on", bid.contacts_sent, "data-bid-id" => bid.id) %>
            <span id="loading_<%= bid.id %>" style="display: none;">loading</span>
            <span id="sent_success_<%= bid.id %>" style="display: none;"><%= Utils::Html::bool_glyphicon(true) %></span>
            <span id="sent_error_<%= bid.id %>" style="display: none;"><%= Utils::Html::bool_glyphicon(false) %></span>
          </td>
        <% end %>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to_bitrix(bid.present) %>
            <%= bitrix_sync_button(bid) %>
            <%= render_comments(bid, comments) %>
          </div>
        </td>
<!--        <td>-->
          <%#= render_compact_control_buttons(obj: bid,
                                             hide_show_btn: true,
                                             hide_delete_btn: true,
                                             edit_obj_path: '',
                                             confirm_message: t(:delete_confirm, scope: :bids))
          %>
<!--        </td>-->
      </tr>
  <% end %>

</table>
<%= render partial: 'modals/comments_modal',
           locals: {
               modal_id: 'comments_modal_id',
               modal_label_id: 'comments_modal_label_id',

           }
%>

<%= render_pagination @pagination %>
