<% title @page_title %>
<h2><%= t(:last, scope: :agencies)%>
  <%= link_to t(:index, scope: :agencies), agencies_path, class: 'btn btn-primary' %>
</h2>

<br>
<%= render_property_filter(search_url: "/agencies/last") %>
<br>

<br>
<%= render_pagination @pagination %>

<table class="table table-striped table-hover table-with-items">
  <tr>
    <th>№</th>
    <th><%= t(:name, scope: :common) %></th>
    <th><%= t(:create_at, scope: :agencies) %></th>
    <th><%= t(:website, scope: :agencies) %></th>
    <th><%= t(:properties, scope: :agencies) %></th>
    <th><%= t(:link, scope: :agencies) %></th>
    <th></th>
  </tr>

  <% @pagination.items.each do |agency| %>
    <% agency = agency.present %>
    <tr>
      <td><%= agency.id %></td>
      <td><%= agency.name_ru %></td>
      <td><%= agency.created_at %></td>
      <td style="width: 100px;"><%= link_to agency.website, agency.website, target: "_blank" if agency.website.present? %></td>
      <td><%= agency.prian_properties_links.count + agency.hs_properties_links.count %></td>
      <td>
        <% if agency.prian_link.present? %>
          <%= link_to agency&.prian_link, agency&.prian_link, target: "_blank" %>
        <% elsif agency.hs_link.present? %>
          <%= link_to agency&.hs_link, agency&.hs_link, target: "_blank" %>
        <% end %>
      </td>
      <td>
        <div class="btn-group btn-group-sm pull-right">
          <%= link_to t(:show, scope: :common), agency, class: 'btn btn-default', title: t(:show, scope: :common) %>
          <%= link_to t(:edit, scope: :common), edit_agency_path(agency), class: 'btn btn-default', title: t(:edit, scope: :common) %>
          <%= link_to t(:delete, scope: :common), agency,
                      method: :delete,  class: 'btn btn-default', data: { confirm: t(:delete_confirm, scope: :agencies) }, title: t(:delete, scope: :common) %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<%= render_pagination @pagination %>
<br>
