<%
  show_country_icon ||= false
%>

<!-- Container -->
<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline centered margin-bottom-35 margin-top-10"><%= title %><span><%= subtitle %></span></h3>
    </div>

    <% areas_count = areas.to_a.count %>
    <% areas.each_with_index do |area, index| %>
      <% if areas_count == 1 %>

        <%= render partial: 'layouts/frontend/places/big_tile',
                   locals: { area: area,
                             show_country_icon: show_country_icon } %>

      <% elsif areas_count == 2 %>

        <% if index == 0 %>
          <%= render partial: 'layouts/frontend/places/small_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index == 1 %>
          <%= render partial: 'layouts/frontend/places/medium_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% end %>

      <% elsif areas_count == 3 %>

        <%= render partial: 'layouts/frontend/places/small_tile',
                   locals: { area: area,
                             show_country_icon: show_country_icon } %>

      <% elsif areas_count == 4 %>

        <% if index == 0 %>
          <%= render partial: 'layouts/frontend/places/big_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index >= 1 %>
          <%= render partial: 'layouts/frontend/places/small_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% end %>

      <% elsif areas_count >= 5 %>

        <% if index == 0 %>
          <%= render partial: 'layouts/frontend/places/big_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index == 1 %>
          <%= render partial: 'layouts/frontend/places/small_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index == 2 %>
          <%= render partial: 'layouts/frontend/places/medium_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index == 3 %>
          <%= render partial: 'layouts/frontend/places/medium_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index == 4 %>
          <%= render partial: 'layouts/frontend/places/small_tile',
                     locals: { area: area,
                               show_country_icon: show_country_icon } %>
        <% elsif index >= 5 %>


          <% if index == 5 %>
            <% rand = Random.new_seed %>
            <div class="col-md-12 text-center">
              <a role="button"
                 data-toggle="collapse"
                 href="#collapseExample<%= rand %>"
                 aria-expanded="false"
                 aria-controls="collapseExample<%= rand %>">
                <%= t(:more, scope: :common) %> <i class="fas fa-angle-down"></i>
              </a>
              <div class="collapse" id="collapseExample<%= rand %>">
          <% end %>

                <div class="col-md-4">
                  <%= country_icon(area) if show_country_icon %>
                  <a href="<%= area.seo_path %>"
                     target="_blank"><%= "#{area.title} (#{area.active_and_moderated_properties_count})" %></a>
                </div>

          <% if index == areas_count - 1 %>
              </div>
            </div>
          <% end %>


        <% end %>

      <% end %>
    <% end %>

  </div>
</div>
<!-- Container / End -->