<p><%= t(:hello, scope: :devise)%><%= @resource.email %>!</p>

<p><%= t(:information_change_password, scope: :devise)%></p>

<p><%= link_to t(:change_password, scope: :devise), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t(:information_ignore, scope: :devise)%></p>
<p><%= t(:information_access, scope: :devise)%></p>
