<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="<%= modal_id %>"
     aria-labelledby="<%= modal_label_id %>"
     aria-hidden="true"
>
  <div class="modal-dialog"
       role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                style="margin: 3px; text-indent: unset;"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"
            id="<%= modal_label_id %>"
        >
          <%= yield(:modal_title) %>
        </h4>
      </div>
      <div class="modal-body">
        <%= yield(:modal_body) %>
      </div>
      <div class="modal-footer">
        <%= yield(:modal_footer) %>
      </div>
    </div>
  </div>
</div>
